@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-main {
    @apply text-white bg-purple-900 shadow-xl flex items-center justify-center gap-2 border-none cursor-pointer appearance-none touch-manipulation outline-none px-7 py-2 rounded-full font-bold hover:scale-110 transition-all duration-300;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}